.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.masonry {
  display: grid;
  grid-gap: 2em; /* [1] Add some gap between rows and columns */
  grid-template-columns: repeat( auto-fill, minmax( 200px, 1fr ) ); /* [2] Make columns adjust according to the available viewport */
  grid-auto-rows: 250px; /* [3] Set the height for implicitly-created row track */
}

.grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
  grid-auto-rows: 200px;
}

/* .main-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
} */

/* .main-container{
  height:5500px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
} */

.main-container{
  margin-left:200px;
  margin-right: 200px;
  margin-top: 50px;
  column-count: 3;
  column-gap: 1em;
}
.child { /* Masonry bricks or child elements */
  display: inline-block;
  margin: 0 0 3em;
  width: 100%;
}
/* .main-container{
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1em;
} */
img{
  max-width: 100%;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}
.popup_inner {
  position: absolute;
  padding: 20px;
  left: 40%;
  right: 25%;
  top: 25%;
  margin: auto;
  border-radius: 20px;
  background: white;
}

input[type=text], textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 20%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.imageDetails { 
  border: 1px solid #333;
  padding: 10px;
  box-shadow: 8px 8px 5px #444;
  background: white
}

.navSuperBolter{
margin-left: 200px;
margin-top:-60px;
position:fixed;
width: 75%;
overflow: hidden;
border-radius: 20px;
border:0.5px solid black;
background-color: rgb(226, 231, 227);
}

.navSuperBolter a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navSuperBolter a:hover {
  background-color: #ddd;
  color: black;
}

.navSuperBolter a.active {
  background-color: #4CAF50;
  color: white;
}

#root{
  background-color:azure;
}